

/* #img1{
    background: url(../../public/assets/beneficios.png);
}

#img2{
    background-image: url(../../public/assets/beneficios.png);
}

#img3{
    background-image: url(../../public/assets/beneficios.png);
}

#img4{
    background-image: url(../../public/assets/beneficios.png);
} */